$fuentePrincipal : 'Montserrat', sans-serif;

//colores
$verde: #45C6AA;
$morado: #545479;
$amarillo: #FFD13E;
$rosa: #EFCACA;
$gris: #CDCDD3;
$negro : #000;
$blanco : #FFF;
//media query
$telefono: 480px;
$tablet: 720px;
$desktop: 1200px;
//fuentes
$delgada : 300;
$regular : 400;
$bold : 700;
$black : 900;

//separaciones
$separacion : 5rem;

//animaciones
$animate: all 0.2s ease-in-out;