.contenido {
  .contenido-banner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .contenido-banner img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
//modulo 1
#home-slider {
  .swiper-text {
    height: 50rem;
    padding: 5% 10%;
    h3 {
      margin: 3rem 0;
    }
    @media (max-width: 900px) {
      margin: 5rem 0 0 0;
      padding: 0 3rem;
    }
  }
}
//modulo 2
.content-wrapper--icons {
  display: grid;
  gap: 2rem;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  button {
    background-color: transparent;
  }
}

//modulo 3
#pills-tab {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;

  li {
    width: 100%;
    min-height: 100%;
    button {
      padding: 1.5rem 0;
      width: 100%;
      min-height: 100%;
      font-weight: 700;
      background-color: $morado;
      border: 0.1rem solid $blanco;
      color: $blanco;
      border-radius: 0;
      @media (max-width: 500px) {
        font-size: 1.2rem;
      }
      &.active {
        background-color: $rosa;
        color: $negro;
      }
    }
  }
}
.tab-pane {
  padding: 1rem;
  p {
    text-align: justify;
    &:last-of-type {
      margin: 2rem 0;
      text-align: end;
      font-size: 1.4rem;
    }
  }
  ul {
    text-align: justify;
  }
}
