.intro {
  .carousel-indicators button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    &.active {
      background-color: $morado;
    }
  }
}
.intro-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  border-radius: 1rem;
  overflow: hidden;
  &--img {
    @extend .side-img;
    &.mod2 {
      background-image: url("../img/Modulo 2/14Introduccion_Modulo2.webp");
    }
    &.mod3 {
      background-image: url("../img/Modulo 3/18Introduccion_Modulo3.webp");
    }
    &.mod3-1 {
      background-image: url("../img/Modulo 3/18Introduccion_Modulo3_1.webp");
    }
  }
  &--content {
    padding: 2rem 0.5rem;
    text-align: justify;
    background-color: $rosa;
    @include telefono {
      padding: 2rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2;
    }
  }
}
