.proposito {
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    border-radius: 1rem;
    min-height: 35rem;
    overflow: hidden;
    &--info {
      background-color: $verde;
      padding: 5% 10%;
      text-align: justify;
      h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
        font-weight: bold;
      }
    }
    &--img {
      @extend .side-img;
      background-image: url("../img/Modulo 1/6Proposito_Modulo1.webp");
      &.mod2 {
        background-image: url("../img/Modulo 2/13Proposito_Modulo2.webp");
      }
      &.mod3 {
        background-image: url("../img/Modulo 3/17Proposito_Modulo3.webp");
      }
    }
  }
}
